{
    "printWidth": 140,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "insertPragma": false,
    "requirePragma": false,
    "useTabs": false
}
